
<div style="text-align:center;color: orangered; margin-top: 40px;"><h1>BOOK STORE</h1></div>
<div class="searchbox">
<input type="text" id="searchitem"placeholder="enter the book name">
<button type="button" id="button"(click)="search()">search</button>
</div>



<div class="row">
  <div class="col-4"> <div class="card" style="width: 18rem;">
    <img src="assets/kite.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">the kite Runner</h5>
      <p class="card-text">The Kite Runner is the first novel by Afghan-American author Khaled Hosseini.Published in 2003 by Riverhead Books, it tells the story of Amir,
        a young boy from the Wazir Akbar Khan district of Kabul.
 </p>
      <a href="https://www.amazon.com/Kite-Runner-Khaled-Hosseini/dp/159463193X" class="btn btn-primary">buy</a>
    </div>
  </div>
 </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img src="assets/master.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Masterpieces of English short novel</h5>
        <p class="card-text">These nine novels are the best of the best?great writing by some of the most brilliant literary minds of the eighteenth and nineteenth centuries..</p>
        <a href="https://www.amazon.in/Masterpieces-English-Short-Novel-Complete/dp/1628724439/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=&sr=" class="btn btn-primary">buy </a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img src="assets/alchemist.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Alchemist</h5>
        <p class="card-text">The Alchemist (Portuguese: O Alquimista) is a novel by Brazilian author Paulo Coelho which was first published in 1988. Originally written in Portuguese, it became a widely translated international bestseller.</p>
        <a href="https://www.amazon.in/Alchemist-Paulo-Coelho/dp/8172234988" class="btn btn-primary">buy </a>
      </div>
    </div>
  </div>

  <div class="row">
<div class="col-4">
  <div class="card" style="width: 18rem;">
    <img src="assets/story.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Story of struggle </h5>
      <p class="card-text">A 17-year-old boy belongs to a poor family and falls in love with a beautiful girl. But the girl's father wants her to marry a rich boy. Therefore, the boy leaves his village and goes to the city to become rich and this is where his struggle starts.</p>
      <a href="https://www.flipkart.com/a-story-of-struggle/p/itm3cc2208d921b3#:~:text=A%20Story%20of%20Struggle%20(English%2C%20Paperback%2C%20Kuma" class="btn btn-primary">buy </a>
    </div>
  </div>
</div>
<div class="col-4" >
  <div class="card" style="width: 18rem;">
    <img src="assets/subtle.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">subtle art of not giving a f**</h5>
      <p class="card-text">The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life is a 2016 nonfiction self-help book by American blogger and author Mark Manson</p>
      <a href="https://www.amazon.in/s?k=a+subtle+art+of+not+giving+a&adgrpid=118032298495&gclid=EAIaIQobChMIpcu_p9ec_AIVTg9yCh2akQorEAAYASAAEgKBpPD_BwE&hvadid=590753013342&hvdev=c&hvlocphy=9040212&hvnetw=g&hvqmt=e&hvrand=14810230069803307182&hvtargid=kwd-788680737524&hydadcr=15950_2269146&tag=googinhydr1-21&ref=pd_sl_85zo8et8by_e" class="btn btn-primary">buy </a>
    </div>
  </div>
</div>

<div class="col-4">
  <div class="card" style="width: 18rem;">
    <img src="assets/monk.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Monk who sold his ferrari</h5>
      <p class="card-text">The Monk Who Sold His Ferrari is a self-help book by Robin Sharma, a writer and motivational speaker. The book is a business fable derived from Sharma's personal experiences after leaving his career as a litigation lawyer at the age of 25..</p>
      <a href="https://www.amazon.in/Monk-Who-Sold-His-Ferrari/dp/817992162X" class="btn btn-primary">buy </a>
    </div>
  </div>
</div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/chll.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Love in the Time of Cholera</h5>
          <p class="card-text">INTERNATIONAL BESTSELLER • "A love story of astonishing power" (Newsweek), the acclaimed modern literary classic by the beloved Nobel Prize-winning author In their youth, Florentino Ariza and Fermina </p>
          <a href="https://www.amazon.in/Love-Cholera-Gabriel-Garcia-Marquez/dp/014012389X" class="btn btn-primary">buy </a>
        </div>
      </div>
    </div>
    <div class="col-4" >
      <div class="card" style="width: 18rem;">
        <img src="assets/sputnik.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sputnik sweetheart</h5>
          <p class="card-text">Sputnik Sweetheart is a novel by Haruki Murakami, published in Japan, by Kodansha, in 1999. An English translation by Philip Gabriel was then published in 2001.Murakami explores familiar themes such as the effects of unrequited love, growing up emotionally stunted in an overwhelmingly conformist society, and the conflict between following one's dreams and clamping down on them in order to assimilate into society.</p>
          <a href="https://www.amazon.in/Sputnik-Sweetheart-Haruki-Murakami/dp/0099448475" class="btn btn-primary">buy </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/pilgrimage.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">The Pilgrimage </h5>
          <p class="card-text">The Pilgrimage paved the way to Paulo Coehlo's international bestselling novel The Alchemist. In many ways, these two volumes are companions—to truly comprehend one, you must read the other..</p>
          <a href="https://www.amazon.in/Pilgrimage-Paulo-Coelho/dp/8172235399" class="btn btn-primary">buy </a>
        </div>
      </div>
    </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="assets/splendid.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">A Thousand Splendid suns </h5>
              <p class="card-text">A Thousand Splendid Suns is a 2007 novel by Afghan-American author Khaled Hosseini, following the huge success of his bestselling 2003 debut The Kite Runner. Mariam, an illegitimate teenager from Herat, is forced to marry a shoemaker from Kabul after a family tragedy..</p>
              <a href="https://www.amazon.in/Thousand-Splendid-Suns-Khaled-Hosseini/dp/1408844443" class="btn btn-primary">buy </a>
            </div>
          </div>
        </div>
        <div class="col-4" >
          <div class="card" style="width: 18rem;">
            <img src="assets/rules.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">The forty rules of love</h5>
              <p class="card-text">The Forty Rules of Love is a novel written by the Turkish author Elif Shafak,[1][2][3] Her interest in writing this book was influenced by the degree she received in Gender and Women’s Studies.[.</p>
              <a href="https://www.amazon.in/Forty-Rules-Love-Elif-Shafak/dp/0241972930" class="btn btn-primary">buy </a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="assets/iki.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">IKIGAI</h5>
              <p class="card-text">The Oxford English Dictionary defines ikigai as "a motivating force; something or someone that gives a person a sense of purpose or a reason for living". More generally it may refer to something that brings pleasure or fulfilmen.</p>
              <a href="https://www.flipkart.com/ikigai-japanese-secret-long-happy-life/p/itmd6acb75d66c59" class="btn btn-primary">buy </a>
            </div>
          </div>
        </div>
          </div>



</div>

<button type="button" class="btn"><a routerLink=''>logout</a></button>
<!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


 -->
